Data_Engineering/gmail_api/credentials.json
Data_Engineering/gmail_api/token.json
Data_Engineering/gmail_api/emails_test_output.json

# === Ignore Python cache ===
Data_Engineering/gmail_api/__pycache__/
Data_Engineering/gmail_api/*.pyc
Data_Engineering/gmail_api/*.pyo
Data_Engineering/gmail_api/*.pyd